<div>

  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()">Dodaj</button>
    </div>
  </div>

  <div class="container">
    <div>
      Lista zadan! {{taskNum}}
      <ng-container *ngIf="tasksList.length > 0; else noTask ">
        <button (click)="add()">Dodaj</button>
        <p *ngIf="sameTask">Posiadasz juz takie zadanie </p>
        <ul>
          <li *ngFor="let task of tasksList">
            {{task}}
            <button (click)="done(task)">Zrobione</button>
            <button (click)="remove(task)">Usuń</button>
          </li>
        </ul>
      </ng-container>
      <ng-template #noTask>
        <p>Brak zadań do zrobienia, enjoy your time</p>
      </ng-template>
    </div>
    <div>
      Zrobione zadania: {{tasksDone.length}}
      <ul>
        <li *ngFor="let task of tasksDone">
          {{task}}
          <button (click)="removeDone(task)">Usuń</button>
        </li>
      </ul>
    </div>
  </div>

</div>
